<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
    <!-- title -->
    <title>AppleStore</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/Content/assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/Content/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/Content/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/Content/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/Content/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/Content/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="/Content/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/Content/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/Content/assets/css/responsive.css">

</head>
<body>
    
    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="/Content/assets/img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" href="@Url.Action("Cart","Cart")"><i class="fas fa-shopping-cart"></i></a>
                                       
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end search arewa -->
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Shop</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    <!-- products -->
    @RenderBody();
    <!-- end products -->
    <!-- logo carousel -->
    
    <!-- end logo carousel -->
    <!-- footer -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">About us</h2>
                        <p>
                            Cửa hàng chuyên cung cấp các sản phẩm của Apple do Dương và Bảo quản lí
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Get in Touch</h2>
                        <ul>
                            <li>Email : duongvuit.26@gmail.com</li>
                            <li>SĐT : 0865299626</li>
                        </ul>
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p>
                        Copyrights &copy; 2023 - <a href="https://imransdesign.com/">Duongit</a>,  All Rights Reserved
                    </p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="/Content/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="/Content/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="/Content/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="/Content/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="/Content/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="/Content/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="/Content/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="/Content/assets/js/main.js"></script>

</body>
</html>