@model IEnumerable<AppleStore.Models.Don_Hang>


@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" style="text-align:center">
    Bạn vừa mua hàng thành công !
</div>
