@model IEnumerable<AppleStore.Models.Cart>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Billing Address
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">
                                            @using (Html.BeginForm("Checkout", "Checkout", FormMethod.Post))
                                            {
                                                <form>

                                                    <p><input name="ten" type="text" placeholder="Name"></p>
                                                    <p><input name="email" type="email" placeholder="Email"></p>
                                                    <p><input type="text" name="diachi" placeholder="Address"></p>
                                                    <p><input type="tel" name="SDT" placeholder="Phone"></p>
                                                    <p><textarea name="tieude" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>
                                                    <button type="submit" class="boxed-btn black">Place Order</button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="order-details-wrap">
                        <table class="order-details">
                            <thead>
                                <tr>
                                    <th>Your order Details</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody class="order-details-body">
                                <tr>
                                    <td>Product</td>
                                    <td>Total</td>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.San_Pham.tenSP</td>
                                        <td>@item.San_Pham.gia.GetValueOrDefault(0).ToString("N0")</td>
                                    </tr>
                                }

                            </tbody>
                            <tbody class="checkout-details">
                                <tr>
                                    <td>Subtotal</td>
                                    <td>

                                        <a class="primary-btn ">
                                            @(Model.Sum(n => n.Quantity * n.San_Pham.gia.GetValueOrDefault(0)).ToString("N0")) VND
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      
                    </div>
                </div>
            }
            else
            {
                <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
            }

        </div>
    </div>
</div>

